
div.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  table {
    width: 70rem;
    border-collapse: collapse;
    background-color: white;

    th,
    td {
      padding: 10px;
      border: none;
    }

    th {
      background-color: #dedede;
      cursor: pointer;
      text-align: left;

      &:hover {
        background-color: #eaeaea;
      }
    }

    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}