
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #eaeaea;
    }
  }

  tr {
    &:nth-child(even) {
      background-color: #f9f9f9;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }
}
